Source: ros-rolling-inverse-dynamics-solver
Section: misc
Priority: optional
Maintainer: Enrico Ferrentino <eferrentino@unisa.it>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-rolling-ament-cmake, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-rosbag2-cpp, ros-rolling-rosbag2-storage, ros-rolling-rosbag2-storage-default-plugins, ros-rolling-sensor-msgs, ros-rolling-urdf, ros-rolling-ros-workspace
Homepage: https://github.com/unisa-acg/inverse-dynamics-solver.git
Standards-Version: 3.9.2

Package: ros-rolling-inverse-dynamics-solver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, python3-matplotlib, python3-numpy, python3-tabulate, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-rosbag2-cpp, ros-rolling-rosbag2-storage, ros-rolling-rosbag2-storage-default-plugins, ros-rolling-sensor-msgs, ros-rolling-urdf, ros-rolling-ros-workspace
Description: A library implementing an inverse dynamics solver for serial manipulators.
