Source: ros-humble-franka-inria-inverse-dynamics-solver
Section: misc
Priority: optional
Maintainer: Enrico Ferrentino <eferrentino@unisa.it>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-humble-ament-cmake, ros-humble-inverse-dynamics-solver, ros-humble-pluginlib, ros-humble-ros-workspace
Homepage: https://github.com/unisa-acg/inverse-dynamics-solver.git
Standards-Version: 3.9.2

Package: ros-humble-franka-inria-inverse-dynamics-solver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-humble-inverse-dynamics-solver, ros-humble-pluginlib, ros-humble-ros-workspace
Description: A C++ library implementing the inverse dynamics solver for the Franka Emika Panda (FER) real robot.
